<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal and Water Tracker</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="ejs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" async defer></script>
    
  </head>
  <body>
    <header>
      <%- include('partials/header'); %>

    </header>
    <!---Graph Area Section-->
    <div class="Doughnut-graph">
        <h1>Caloric Intake and Nutrition</h1>
        <div>
          <canvas id="mychart"></canvas>
        </div>
        <div class="pie-view-container">
          <h2>Macronutrients Breakdown:</h2>
          <div class="graph-view-container">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Carbs</th>
                  <th scope="col">Fat</th>
                  <th scope="col">Protein</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><%= userNutrition['summary'].carbs %></td>
                    <td><%= userNutrition['summary'].fat %></td>
                    <td><%= userNutrition['summary'].protein %></td>
                  </tr>
              </tbody>
            </table>
          </div>
          <button type="button" onclick="toggleGraph()">toggle Graph</button>
          <br>
          </div>
        </div>
        <br>
      </div>
      <br>


    <!-- calorie counter button -->
    <button type="button">Track Calories Button</button>
    <div>
    <!-- Meal Entry Section -->
    <div class="meal-entry-section">
      <h2>Meal Entry</h2>
      <p id="mealType"></p>

      <form action="/nutrition" id="userInputForm" method="post">
        <label for="time">Time:</label>
        <input type="text" id="time" placeholder="Enter time" />

        <label for="foodItem">Food Item:</label>
        <input type="text" id="foodItem" placeholder="Enter food item" required/>

        <label for="calories">Calories:</label>
        <input type="text" id="calories" placeholder="Enter calories" />

        <label for="mealTypeId">Meal ype ID:</label>
        <input type="text" id="mealTypeId" placeholder="1=breakfast 5=dinner 7=anytime" required/>

        <label for="servingSize">Serving Size:</label>
        <input type="number" step="0.01" id="servingSize" placeholder="Enter serving size 1.01" required/>
        <input id="foodFormInputs" type="submit">
      </form>

      <div class="mealType-container">
        <h3>ENTER MEAL:</h3>
        <br />
        <div id="displayBox">
        <img
          src="https://th.bing.com/th/id/OIP.yeiTndRA3mhXlnn5mdk4sQHaH_?w=181&h=195&c=7&r=0&o=5&pid=1.7"
          alt="breakfast"
          
        />
        <img
          src="https://th.bing.com/th/id/OIP.vd2rq5tevnE0XVvzVIqH-gAAAA?pid=ImgDet&w=181&h=181&c=7"
          alt="lunch"
          
        />
        <img
          src="https://th.bing.com/th/id/OIP.XNBRRlar2yyGaw30k6Z7ZwHaHa?w=177&h=180&c=7&r=0&o=5&pid=1.7"
          alt="dinner"
         
        />
        <img
          src="https://th.bing.com/th/id/OIP.uKbJ80BTSdDD6poC_ysCjwHaHg?rs=1&pid=ImgDetMain"
          alt="snack"
          
        />
      </div>
      </div>
      <div class="meal-history"></div>
    </div>
    <br />
    <!-- Water Intake Section -->
    <div class="water-intake-section">
      <h2>Water Intake</h2>
      <label for="waterInput">Enter Water Intake:</label>
      <input type="text" id="waterInput" placeholder="Enter water intake" />
      <!-- <button onclick="addWater()">Add Water</button> -->

      <div class="waterwheel-container">
        <h3>Total Water Intake:</h3>
        <span id="totalWater">0</span> ml
        <canvas id="waterChart"></canvas>
      </div>
    </div>

      
    <%- include('partials/footer'); %>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
