<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Profile</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body class="profileBody">
    <header>
      <%- include('partials/header'); %>

    </header>
    <h1>

      Welcome to your profile
      <p>Name: <%= user.displayName %></p>
      <p>Age: <%= user.age %></p>
      <p>Height: <%= user.height %></p>
      <p>Weight: <%= (user.weight *2.20462) %></p>
      <p>Fitbit Member Since: <%= user.memberSince %></p>
    </h1>
    <div>
      <a href="/bodycomp">Body Composition Page</a>
      <a href="/activities">Activities Page</a>
      <a href="/nutrition">Nutrition Page</a>
      <a href="/sleep">Sleep Page</a>
    </div>
      <%- include('partials/footer'); %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
