<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Profile</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <%- include('partials/header'); %>

    </header>
    <h1>

      Welcome to your profile
      <p><%= user.displayName %></p>
      <p><%= user.age %></p>
      <p><%= user.height %></p>
      <p><%= user.memberSince %></p>
      <p><%= (user.weight *2.20462) %></p>
    </h1>
    <div>
      <a href="/bodycomp">Body Composition Page</a>
      <a href="/activities">Activities Page</a>
      <a href="/nutrition">Nutrition Page</a>
      <a href="/sleep">Sleep Page</a>
    </div>
    <script>
      fetch("./nav.html")
        .then((res) => res.text())
        .then((text) => {
          let oldelem = document.querySelector("#replace_with_navbar");
          let newelem = document.createElement("div");
          newelem.innerHTML = text;
          oldelem.parentNode.replaceChild(newelem, oldelem);
        });

      // Add an event listener to the button
      document
        .getElementById("toggleNav")
        .addEventListener("click", function () {
          // Get the navigation bar
          let navbar = document.querySelector("nav");

          // Toggle the display property
          if (navbar.style.display === "none") {
            navbar.style.display = "block";
          } else {
            navbar.style.display = "none";
          }
        });
    </script>
      <%- include('partials/footer'); %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./nav.js"></script>
  </body>
</html>
